/* CSS DOCUMENT */
@charset "UTF-8";

/* configuraciones generales */

@font-face {
    font-family: "Ubuntu Bold";
    src: url(fonts/Ubuntu-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Bold Italic";
    src: url(fonts/Ubuntu-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Regular";
    src: url(fonts/Ubuntu-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Italic";
    src: url(fonts/Ubuntu-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

* {
    
}

/* aca empiezan las aplicaciones */

body {

}

h1 {
    font-family: "Ubuntu Bold", sans-serif;
}